@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: Saeada;
  src: url(/fonts/LTSaeada-Regular.otf);
}

*, *::before, *::after {
  font-family: Saeada, sans-serif;
}

h1 {
  letter-spacing: 1.5px;
}

.custom-clip-path-msg::before {
  clip-path: polygon(100% 0, 29% 46%, 100% 100%);
}